@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MBC1961GulimM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color:#EEE3CB;
  font-family: 'SUITE-Regular', sans-serif;
}

iframe {
  width: 100%;
  height: 100vh;
  border: none;
}

pre{
	font-family: 'SUITE-Regular', sans-serif;
}

section {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

textarea{
	width:100%;
	height:100px;
	border:none;
	resize:none;
	font-family: 'MBC1961GulimM', sans-serif;
}

img{
	width:100px;
	height:100px;
}

textarea:focus{
	outline:none;
}

input:focus{
	outline:none;
}

.btnEditReview, .btnReviewDelete, #btnreviewup, #btnSubmit {
  border:1px solid #393646;
  background-color:rgba(0,0,0,0);
  color:#393646;
  padding:4px;
  border-radius:5px;
}

button:hover {
  color: white;
  background: #393646;
}

#btnreviewup:hover{
  color: white;
  background: #393646;
}

#btnSubmit:hover{
  color: white;
  background: #393646;
}
.restaurantImg {
  text-align: center;
  margin-bottom: 20px;
}

.restaurantImg img {
  width: 200px;
  height: auto;
}

.restaurantName {
  text-align: center;
  margin-bottom: 2%;
  border: 1px solid #FFFFFF;
  padding: 10px;
  background-color:#FFFFFF;
}

.restaurantName input {
  background-color: transparent;
  text-align:center;
  font-weight: bold;
  border:none;
}


#rReviewN{
	text-align:left;
}

#rName{
	text-align:center;
	font-size: 25px;
	font-family: 'SUITE-Regular', sans-serif;
}

#restaurantDetail{
  margin-bottom: 2%;
  border: 1px solid #FFFFFF;
  padding: 10px;
  background-color:#FFFFFF;
}

#restaurantDetail pre{
	font-size:18px;
	margin-left:2%;
	font-weight: bold;
	
}

#restaurantDetail svg{
	margin-right:1%;
}

#restaurantDetail input{
	border:none;
	font-size:15px;
	font-family: 'MBC1961GulimM', sans-serif;
}

#restaurantMenu{
  margin-bottom: 2%;
  border: 1px solid #FFFFFF;
  padding: 10px;
  background-color:#FFFFFF;
}

#restaurantMenu pre{
	font-size:18px;
	margin-left:2%;
	font-weight: bold;
}

#rMenu{
	font-size:20px;
}

#restaurantTage{
  margin-bottom: 2%;
  border: 1px solid #FFFFFF;
  padding: 10px;
  background-color:#FFFFFF;
  font-family: 'SUITE-Regular', sans-serif;
}

#restaurantTage input{
	font-size:20px;
	font-family: 'SUITE-Regular', sans-serif;
}

#reviewPhoto{
  margin-bottom: 2%;
  border: 1px solid #FFFFFF;
  padding: 10px;
  background-color:#FFFFFF;
}

#review{
  text-align: center;
  margin-bottom: 2%;
  border: 1px solid #FFFFFF;
  padding: 10px;
  background-color:#FFFFFF;
}

.review-info{
  text-align: center;
  margin-bottom: 2%;
  border: 1px solid #FFFFFF;
  padding: 10px;
  background-color:#FFFFFF;
}

.review-info table{
	margin: 0 auto;
}

.review-info pre{
	font-size:18px;
	margin-left:2%;
	font-weight: bold;
}

.myreview-info{
  margin-bottom: 2%;
  border: 1px solid #FFFFFF;
  padding: 10px;
  background-color:#FFFFFF;
}

.myreview-info table{
	margin: 0 auto;
}

.button-container {
  text-align: left;
}


#myreview{
	width:50%;
	height:100px;
	border:none;
	background-color:#e0e0e0;
	resize:none;
}

#logincheckReviw{
  margin-bottom: 2%;
  border: 1px solid #FFFFFF;
  padding: 10px;
  background-color:#FFFFFF;
  text-align:center;
}

.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #e0e0e0;
  border-radius: 4px;
}

.custom-file-upload:hover {
  background-color: #d0d0d0;
}

#fileUpload{
	display:none;
}

#fileUpload1{
	display:none;
}

.test_obj input[type="checkbox"] {
    display: none;
}

.test_obj input[type="checkbox"] + span {
    display: inline-block;
    padding: 10px 10px;
    border: 1px solid #dfdfdf;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
    margin-bottom:1%;
}

.test_obj input[type="checkbox"]:checked + span {
    background-color: #d0d0d0;
    color: black;
}

#restaurantTage pre{
	font-size:18px;
	margin-left:2%;
	font-weight: bold;
}

#restaurantTage input{
	background-color: transparent;
  	font-weight: bold;
  	border:none;
}

#infoUp{
	text-align:right;
}

a{
	color:black;
	text-decoration:none;
}

#reviewAllModal textarea, button{
	font-family: 'SUITE-Regular', sans-serif;
}

#reviewModal textarea{
	font-family: 'SUITE-Regular', sans-serif;
}

.review_myTable td{
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: normal;
	min-width:0;

}

.page-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 0;
}

.page-links li {
  display: inline-block;
  margin-right: 5px;
}

.page-links a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  background-color: #f2f2f2;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.page-links a:hover {
  background-color: #ddd;
}

.page-links a:active {
  background-color: #ddd;
  color: white;
}

.page-links .disabled a {
  opacity: 0.5;
  cursor: not-allowed;
}

.reviewPhotoList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
}

.reviewPhotoList img {
    width: 200px;
    height: 200px;
    padding: 10px;
    object-fit: cover;
}

.reviewPhotoList .reviewPhotoItem:first-child {
    margin-left: 3.7vw;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    width: auto;
    height: 80%;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.ownercontent{
	border:1px solid #393646;
}
.ownerc{
	pointer-events: none;
}