@charset "UTF-8";
body{
	overflow: hidden;
}
.mapView {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 350px;
    right: 0;
    z-index: 0;
}
#map {
	width: calc(100vw - 350px);
	height: 100vh;
}
.simpleOverlay {
	position:relative;
	bottom:85px;
	border-radius:6px;
	border: 1px solid #ccc;
	border-bottom:2px solid #ddd;
	float:left;
}
.simpleOverlay:nth-of-type(n) {
	border:0; 
	box-shadow:0px 1px 2px #888;
}
.simpleOverlay a {
	display:block;
	text-decoration:none;
	color:#000;
	text-align:center;
	border-radius:6px;
	font-size:14px;
	font-weight:bold;
	overflow:hidden;
	background: #d95050;
	background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) 
	no-repeat right 14px center;
}
.simpleOverlay .simpleOverlayheader_title {
	display:block;
	text-align:center;
	background:#fff;
	margin-right:35px;
	padding:10px 15px;
	font-size:14px;
	font-weight:bold;
}
.simpleOverlay:after {
	content:'';
	position:absolute;
	margin-left:-12px;
	left:50%;
	bottom:-12px;
	width:22px;
	height:12px;
	background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}
.controlDiv {
	cursor: auto;
	position: absolute;
	z-index: 2;
	top: 10px;
	left: -350px;
}
.controlDiv * {
	left: -350px;
}
.controlBox {
	width: 32px;
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 0px 0px;
	position: absolute;
	top: 29vh;
	left: 97.3vw;
}
.controlButton {
    float: left;
    cursor: pointer;
    width: 32px;
    height: 32px;
    user-select: none;
    -webkit-user-drag: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid rgb(226, 226, 226);
    border-left: none;
    border-image: initial;
    border-radius: 3px 3px 0px 0px;
}
#addLocationButton {
    background: url(//t1.daumcdn.net/localimg/localimages/07/2018/pc/common/img_search.png) no-repeat;
    background-position-x: -190px;
    background-position-y: -450px;
}
.cursor {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	transform:translate(-50%, -90%);
	pointer-events: none;
}
.alm_info {
	position: fixed;
	height: calc(100vh - 60px);
	top: 30px;
	bottom: 30px;
	background-color: rgb(255, 255, 255);
	padding: 0;
	margin: 0;
}
.alm_title {
	padding: 5px 0 0 10px;
	height: 40px;
	background: #eee;
	border-bottom: 1px solid #ddd;
	line-height: 30px;
	font-size: 18px;
	font-weight: bold;
}
.alm_close {
	position: absolute;
	top: 12px;
	right: 10px;
	color: #888;
	width: 17px;
	height: 17px;
	background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
}
.alm_body {
	margin: 10px 10px 10px 10px;
}
.alm_body > div {
	width: 100%;
	margin: 20px 0 20px 0;
}
.alm_input {
	position: relative;
    width: 100%;
}
.alm_suggest {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	margin: 0 0 10px 0; 	
}
.top_sidebar {
    position: relative;
    z-index: 30;
    width: 350px;
    height: 150px;
    background-color: #258fff;
}
.header {
    position: relative;
    height: 94px;
    padding: 20px 20px 2px;
    color: #fff;
}
.header .header_title {
    width: 95px;
    margin: 0;
}
.header .header_title .a_title {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 22px;
    font-size: 0;
    line-height: 0;
    background: url(//t1.daumcdn.net/localimg/localimages/07/2018/pc/title/kakaomap_logo.png) no-repeat 0 0;
    text-indent: -9999px;
}
.screen_out {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
}
.box_searchbar {
    position: relative;
    width: 100%;
    height: 35px;
    margin: 20px 0 20px 0;
    border-radius: 3px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0,0,0,.15);
    -moz-box-shadow: 0 2px 1px 0 rgba(0,0,0,.15);
    box-shadow: 0 2px 1px 0 rgba(0,0,0,.15);
}
.tf_keyword {
    float: left;
    width: 277px;
    height: 26px;
    padding: 8px 0 0 10px;
    border: 0 none;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    background-color: transparent;
    outline: 0;
}
.search_button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    border: 0 none;
    text-indent: -9999px;
    cursor: pointer;
    background-image: url("/img/main/SearchButton.png");
    background-size: 25px;
}
.search_button:hover {
    background-image: url("/img/main/SearchButton.gif")
}
.choice_currentmap {
    position: absolute;
    top: 22px;
    right: 19px;
    --bs-btn-padding-x: 0.50rem;
    --bs-btn-padding-y: 0.25rem;
    --bs-btn-font-size: 0.5rem;
    --bs-btn-color: #fff;
    --bs-btn-bg: #198754;
    --bs-btn-border-color: #198754;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #157347;
    --bs-btn-hover-border-color: #146c43;
    --bs-btn-focus-shadow-rgb: 60,153,110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #146c43;
    --bs-btn-active-border-color: #13653f;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #198754;
    --bs-btn-disabled-border-color: #198754;
}
.lab_currentmap {
    display: block;
    overflow: hidden;
    margin-top: -1px;
    padding-left: 20px;
    font-size: 12px;
    line-height: 15px;
    cursor: pointer;
}
.ico_currentmap {
    display: block;
    position: absolute;
    top: 0;
    left: 1px;
    width: 14px;
    height: 14px;
    background: url(//t1.daumcdn.net/localimg/localimages/07/2018/pc/search/ico_checkbox_190708.png) no-repeat 0 0;
    pointer-events: none;
}
.suggestBox {
    display: none;
    overflow: hidden;
    position: absolute;
    top: 42px;
    left: 0;
    right: 0;
    z-index: 999;
    padding-top: 3px;
    border-radius: 0 0 3px 3px;
    background-color: #fff;
    font-size: 12px;
    line-height: 17px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.15);
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.15);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.15);
}
.middle_sidebar {
	position: relative;
	z-index: 30;
}
.baseBox {
    display: none;
    width: 100%;
    border-top: 1px solid #eee;
}
.favorite_find {
    padding: 5px 0;
    border-top: 1px solid #eee;
    clear: both;
}
.HIDDEN {
    display: none!important;
}
.search_recent {
    border-top: 1px solid #eee;
    line-height: 16px;
    clear: both;
}
.tit_recent {
    display: block;
    height: 16px;
    padding: 14px 16px 0;
    font-size: 12px;
    line-height: 14px;
    color: #888;
    letter-spacing: -1px;
}
.header_subarea {
    position: relative;
    top: -10px;
    left: -10px;
}
.header_subarea > button {
	--bs-btn-padding-y: 0.2rem;
	margin: 0 0 0 10px;
}
.tooltip-inner {
	width: 130px;
	font-size: 0.3rem;
}
.middle_sidebar {
    position: relative;
    width: 350px;
    height: calc(-150px + 100vh);
}
.sf_filter {
	margin: 10px 0 20px 0;
}
.sf_title {
	font-weight: 800;
	font-size: 1.2rem;
	margin: 0 0 0 10px;
}
.sf_fcr {
	margin: 15px 0 0 20px; 
	display: flex; 
	flex-flow: row wrap;
	width: 300px;
}
.each_fcr {
	margin: 0 20px 0 20px;
}
.fc_img {
	margin: 0 0 0 3px;
}
.toggleSwitch.off { 
	width: 70px;
	height: 25px;
	text-align: center;
	margin: 0 0 0 10px;
	border-radius: 10px;
	background-color: #fff;
	cursor: pointer;
	font-size:15px;
	font-weight: bold;
	border: 2px solid #ffaa55;
	color: #ffaa55;
}
.toggleSwitch.off.active {
	color:#ffffff;
	background: #ffaa55;
}
.toggleSwitch.often,
.toggleSwitch.rare {
	width: 150px;
	height: 25px;
	text-align: center;
	margin: 0 0 0 13px;
	border-radius: 10px;
	background-color: #fff;
	cursor: pointer;
	font-size:14px;
	font-weight: bold;
	border: 2px solid #55aaff;
	color: #55aaff;
}
.toggleSwitch.often.active,
.toggleSwitch.rare.active {
	color:#ffffff;
	background: #55aaff;
}
.tag_row {
	display: flex;
	flex-direction: row;
	margin: 10px 0 0 35px;
}
.tag_column {
	display: flex;
	flex-direction: column;
}
.tag_category {
	margin: 0 0 10px 20px;
}
.toggleSwitch2 {        
  width: 80px;
  height: 25px;
  margin: 5px;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  font-size:14px;
  font-weight: bold;
  border: 2px solid #68d98a;
  color: #68d98a;	
}
.toggleSwitch2.clean.active,
.toggleSwitch2.alone.active,
.toggleSwitch2.delicious.active,
.toggleSwitch2.kind.active,
.toggleSwitch2.together.active,
.toggleSwitch2.lot.active,
.toggleSwitch2.parking.active,
.toggleSwitch2.focus.active, 
.toggleSwitch2.cost.active, 
.toggleSwitch2.fast.active,
.toggleSwitch2.talk.active,
.toggleSwitch2.portion.active,
.toggleSwitch2.pack.active,
.toggleSwitch2.photoplace.active,
.toggleSwitch2.satisfy.active  {      
  color:#ffffff;
  background: #68d98a;
}